{% extends "base.html.j2" %}

{% block head_styles %}
<style>
    body {
        font-family:Georgia, 'Times New Roman', Times, serif
    }
</style>
{% endblock head_styles %}

{% block base_contents %}
Block implemented
{% endblock base_contents %}
